<section id="videos" class="container">
  <h2>Featured Videos</h2>

  <div class="video-carousel">
    <div class="video-track">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/uqomO_BZ44g"
          title="Video 1" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/a1br6gW-8Ss"
          title="Video 2" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/ubgwaNhU5v8"
          title="Video 3" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/ciPOWwJNRlk"
          title="Video 4" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/Wrk5riOBKdg"
          title="Video 5" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
