<section id="videos" class="container">
  <h2>Featured Videos</h2>

  <div class="video-carousel">
    <div class="video-track">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/VIDEO_ID_1"
          title="Video 1" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/VIDEO_ID_2"
          title="Video 2" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/VIDEO_ID_3"
          title="Video 3" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/VIDEO_ID_4"
          title="Video 4" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/VIDEO_ID_5"
          title="Video 5" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
